<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="image/png" sizes="512x512" rel="icon" th:href="@{/img/favicon.png}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" th:href="@{/style/login.css}">
</head>

<body>

<div class="wrapper">
    <form method="POST" th:action="@{/login}">
        <h2>Добро пожаловать!</h2>
        <h1>Вход</h1>
        <div class="input-box">
            <i class='bx bxs-user'></i>
            <input type="email" name="email" id="email" autocomplete="off" placeholder="Email пользователя"
                   required/>
        </div>
        <div class="input-box">
            <i class='bx bxs-lock'></i>
            <input type="password" name="password" id="password" autocomplete="off" placeholder="Пароль" required/>
        </div>
        <div class="remember">
            <label class="checkbox"><input type="checkbox"/>Запомнить меня</label>
            <a href="#">Забыли пароль?</a>
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
    <div class="register-link">
        <p>Ещё не зарегистрировались?
            <a class="registration" th:href="@{/registration}">Регистрация</a>
        </p>
    </div>

    <div class="message-box-success" th:if="${param.registered != null}">
        <span>
            Вы успешно зарегистрировались, повторите введённые данные
        </span>
    </div>

    <div class="message-box-logout" th:if="${param.logout != null}">
        <span>
            Вы вышли из аккаунта
        </span>
    </div>

    <div class="message-box-logout" th:if="${param.deleted != null}">
        <span>
            Вы удалили свой аккаунт
        </span>
    </div>

    <div th:replace="~{fragments/errors :: errors}"></div>
</div>

</body>
</html>