<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="image/png" sizes="512x512" rel="icon" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/registration.css}">
</head>
<body>

<div class="wrapper">
    <form method="POST" th:action="@{/registration}" th:object="${registrationForm}">
        <h2>Присоединяйтесь к нам,<br>создайте свой аккаунт</h2>
        <h1>Регистрация</h1>
        <div class="input-box">
            <input name="firstName" type="text" th:field="*{firstName}" autocomplete="off" placeholder="Введите имя"/>
        </div>
        <div class="input-box">
            <input name="businessName" type="text" th:field="*{businessName}" autocomplete="off"
                   placeholder="Введите название бизнеса"/>
        </div>
        <div class="input-box">
            <input name="email" type="email" th:field="*{email}" autocomplete="off" placeholder="Введите email"/>
        </div>
        <div class="input-box">
            <input name="password" type="password" th:field="*{password}" autocomplete="off"
                   placeholder="Придумайте пароль"/>
        </div>
        <div class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <div class="error-message" th:if="${#fields.hasErrors('businessName')}" th:errors="*{businessName}"></div>
        <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <button type="submit" class="btn">Зарегистрироваться</button>
        <div class="register-link">
            <p>Уже зарегистрировались? <a class="login" th:href="@{/login}">Войти</a></p>
        </div>
    </form>
</div>

</body>
</html> 