######## Postgres Credentials ########
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
######## Cloudinary Credentials ########
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
######## Application Properties ########
SERVER_PORT=
SPRING_PROFILES_ACTIVE=